nav {
    background-color: blue;
    padding: 18px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.3s;
}

.nav a:hover {
    color: blue;
    background-color: chartreuse;
}